Caro #{name}, 

Si prega di seguire il link qui sotto per reimpostare la password per myDBR a #{hostname}.

Reimposta password: #{reset_link} 

La password non cambierà fino a quando si accede al link qui sopra e crearne uno nuovo. 

Con i migliori saluti, 
- 
myDBR