Sehr geehrte #{name}, 

Bitte folgen Sie dem Link unten, um Ihr Passwort für myDBR auf #{hostname} zurückgesetzt.

Passwort zurücksetzen: #{reset_link}

Ihr Passwort wird sich nicht ändern, bis Sie auf den Link oben zuzugreifen und eine neue erstellen. 

Mit freundlichen Grüßen, 
- 
myDBR