Geachte #{name}, 

Volg de onderstaande link om uw wachtwoord opnieuw in te stellen voor myDBR bij #{hostname}.

Reset wachtwoord #{reset_link} 

Uw wachtwoord zal niet veranderen totdat u toegang tot de link hierboven en een nieuwe aan te maken. 

Met vriendelijke groet, 
- 
myDBR