Hyvä #{name},

Käytä oheista linkkiä vaihtaaksesi myDBR:n salasanan palvelimella #{hostname}.

Salasanan vaihtolinkki: #{reset_link}

Linkki vanhenee #{link_valid_minutes} minuutin kuluttua.

Salasanaasi ei vaihdeta ennen kuin olet käynyt sen vaihtamassa oheisen linkin kautta.

Ystävällisin terveisin,
-- 
myDBR