Dear #{name},

Please follow the link below to reset your password for myDBR at #{hostname}.

Reset password: #{reset_link}

This link expires in #{link_valid_minutes} minutes.

Your password will not change until you access the link above and create a new password.

Best Regards,
-- 
myDBR