Kära #{name}, 

Följ länken nedan för att återställa lösenordet för myDBR på #{hostname} 

Återställ lösenord: #{reset_link} 

Ditt lösenord kommer inte att förändras förrän du öppnar länken ovan och skapa en ny.

Vänliga hälsningar, 
- 
myDBR