Querido #{name}, 

Por favor siga el siguiente enlace para restablecer la contraseña para myDBR en #{hostname}.

Perdí mi clave: #{reset_link} 

Su contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo. 

Saludos cordiales, 
- 
myDBR