Αγαπητοί #{name}, 

Παρακαλούμε ακολουθήστε τον παρακάτω σύνδεσμο για να επαναφέρετε τον κωδικό πρόσβασής σας για myDBR στο #{hostname}.

Επαναφορά κωδικού πρόσβασης: #{reset_link}

Ο κωδικός πρόσβασής σας δεν θα αλλάξει μέχρι να έχετε πρόσβαση στον παραπάνω σύνδεσμο και να δημιουργήσετε ένα νέο. 

Με φιλικούς χαιρετισμούς, 
- 
myDBR