.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 5px;
    outline: none;
}

.input-field:focus {
    border: 2px solid dodgerblue;
}

div.hover1:hover{
    /* background-color:   rgb(53, 60, 66); */
    /* text-shadow: 10px; */
    box-shadow: 5px 5px 5px 5px grey;
}

ul.hover1:hover{
    /* background-color:   rgb(53, 60, 66); */
    /* text-shadow: 10px; */
    box-shadow: 5px 5px 5px 5px grey;
}
li.hover1:hover{
    /* background-color:   rgb(53, 60, 66); */
    /* text-shadow: 10px; */
    box-shadow: 1px 1px 1px 1px grey;
    text-decoration: none;
    border: none;
}
a.hover1:hover{
    box-shadow: 1px 1px 1px 1px grey;
    text-decoration: none;
    border: none;
}

/* .ui-dialog-titlebar {
    display:none;
} */

.ui-widget-content .ui-state-default {
    border: 0px solid #d3d3d3;
    background: #00ACD6 50% 50% repeat-x;
    margin-top:1px;
    font-size: 10px;
    font-weight: normal;
    color: #fff;
    justify-content: center;
  }


  #myBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
    border-radius: 50px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }


  .ui-menu-item{
      font-size: 10px;
  }

/*   .ui-widget-content{
     max-width: 200px;
  } */