body{
	font-family:Verdana;
	font-size:10px;
}
			
.content_bold{
	font-weight:bold;
}

.cellpadding{
	padding:0px 0px 0px 0px;
}

.content_center{
	text-align:center;
}

.content_left{
	text-align:left;
}
			
.content_right{
	text-align:right;
}

.uppercase{
	text-transform:uppercase;
}

#print_out{
	width:100%;
	border-left:2px double black;
	border-top:2px double black;
	border-right:2px double black;
	border-bottom:2px double black;
}

#print_out td, #print_out th{
	border-right:1px solid black;
	border-bottom:1px solid black;
}

.content_normal{
	font-weight:normal;
}

.float_right{
	float:right;
}
.float_left{
	float:left;
}

.supsub {
    display: inline-block;
}

.supsub sup,
.supsub sub {
    position: relative;
    display: block;
    font-size: 0.8em;
    line-height: 1.2;
}

.supsub sub {
    top: .3em;
}
