body {
	margin:0 auto;
	background-color:#FFFFFF;
	color:#585858;
	font-family:"trebuchet ms",helvetica,sans-serif;
}

h2 {
	margin: 0.83em 0px 0.83em 0px;
}

legend {
	padding: 5px;
	border: 1px solid silver;
	background: #DBDBDB;
}


fieldset {
	padding:20px;
	background:#ECECEC;
	border:solid silver;
	-moz-box-shadow:#898989 10px 5px 5px;
	-webkit-box-shadow:#898989 10px 5px 5px;
	margin-bottom:2em;
}

fieldset p label:first-child {
	width:128px;
	float:left;
	text-align:right;
	margin-right:0.5em;
	display:block;
	font-weight:bold;
}

fieldset p {
	clear:both;
}

fieldset input[type=text], fieldset input[type=radio] {
	font-size:1em;
	margin-top:-5px;
	margin-bottom:5px;
}

fieldset select {
	margin-bottom: 5px;
	margin-top: -3px;
}

fieldset input[type=submit] {
	margin-left:10.5em;
}

input[type=submit] {
	text-align: center;
	background: #ef9c00;
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 35px;
	padding-right: 35px;
	font-weight: bold;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	min-width: 120px;
}

input[type=submit]:hover {
	font-weight: bold;
	background: #c98300;
}


a.button {
	background: #ef9c00;
	color:white; 
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left:35px;
	padding-right:35px;
	font-weight:bold;
	position: relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

a.button:hover {
	font-weight: bold;
	background: #c98300;
}


a.download {
	background:#5e9619;
}

a.download:hover {
	background:#528412;
}

.example {
	color:gray;
	font-size:smaller;
}

.emphasize {
	background:#ECECEC;
	padding:20px;
	margin-top: 20px;
}

.bold_text {
	font-weight:bold;
	font-size:larger;
}

code {
	font-weight: bold;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.code_highlight {
	font-size:larger;
	font-weight:bold;
	font-family:monospace;
}

table.install_tests {
	width:100%;
}

.shadow {
	
}

.ok{
	background:#00782b;
	color:white;
	text-align:center;
	padding:5px;
	min-width: 60px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

.nok {
	background: #A90017;
	color: white;
	text-align: center;
	min-width: 60px;
	padding: 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.error
	{
	border: solid #A90017;
/*	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;	
*/
	}

.todo
	{
	background: rgb( 0, 94, 175 );
	color: white;
	text-align: center;
	padding: 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	}
	
.topic{
	background:#ECECEC;
	color:#121212;
	padding-left:10px;
	font-weight:bold;
}

.details{
	background:none;
	color:#636363;
	padding-left:15px;
	text-align:left;
}

.indent{
	margin-left:2em;
}

pre{
	word-wrap:break-word;
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
}

.term {
	margin-right:5px;
	margin-top:10px;
	margin-bottom:5px;
	padding:5px 20px 5px 20px;
	border:1px solid gray;
	display:table;
	background:rgb(70,70,70);
	color:rgb(248,248,248);
}

#header_noc{
	background: rgb(219,72,72); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiNDg0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZjAzMDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(219,72,72,1) 0%, rgba(175,3,6,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,72,72,1)), color-stop(100%,rgba(175,3,6,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(219,72,72,1) 0%,rgba(175,3,6,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(219,72,72,1) 0%,rgba(175,3,6,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(219,72,72,1) 0%,rgba(175,3,6,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(219,72,72,1) 0%,rgba(175,3,6,1) 100%); /* W3C */
	height:73px;
	width:100%;
}

#header_content{
	font-size:28px;
	font-weight:bold;
	color:#FFF;
	line-height:73px;
	height:73px;
	margin:0 auto;
	position:relative;
	width:800px;
}

#topleft{
	height:73px;
	left:0;
	position:absolute;
	top:0;
	display: none;
}

#topright{
	height:73px;
	position:absolute;
	right:0;
	top:0;
	display: none;
}

div#content {
	width:800px;
	margin:0px auto;
	position: relative;
}

div.centered {
	text-align: center;
}

div.buttons {
	border-top:1px solid #EEEEEE;
	margin-top:1em;
	padding-top:1em;
	text-align:right;
	margin-bottom: 1em;
}

div.buttons a, div.buttons input {
	margin-left: 20px;
}

div.releaseinfo {
	background:#EEEEEE;
	border:1px solid #AAAAAA;
	margin-left:20px;
	margin-right:20px;
	padding:0.5em;
}

div.releaseinfo h2 {
	font-size: 1.5em;
	margin-top: 0;
	padding: 0;
}


/* Not used */
a.button_new {
	background:#ef9c00;
	color:white;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:35px;
	padding-right:35px;
	font-weight:bold;
	position: relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

a.button_new:hover {
	font-weight:bold;
	background:#c98300;
}

.topbot2 {
	padding-top: 2em;
	padding-bottom: 2em;
}
.install_extensions {
  border-collapse: collapse; 
}

.install_extensions th {
  text-align: left;
  border-bottom: 1px solid gray;
}

.notsupported {
  color: red;
}

.install_extensions th, .install_extensions td {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.install_extensions td {
  border-bottom: 1px solid #EAEAEA;
}